<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="waiting">
    <div *ngIf="isHost">
        <h1>Bienvenue {{ hostUsername }}</h1>
        <h1 *ngIf="userLeft && !joinedUsername">Le joueur {{leftUsername}} a quitté la salle d'attente !</h1>
        <h1 *ngIf="!joinedUsername">vous étes en attente d'un deuxieme joueur</h1>
        <h1 *ngIf="joinedUsername">Veuillez confirmer le joueur {{ joinedUsername }}</h1>
        <div class="buttons">
            <button class="buttonChoice" (click)="cancelMatch()" routerLink="['/partie-multijoueur',this.mode]">Annuler</button>
            <button (click)="cancelMatch()" [routerLink]="['/solo-game']" [ngClass]="joinedUsername !== '' ? 'buttonChoiceDisabled' : 'buttonChoice'" [disabled]="joinedUsername !== ''">
                Convertir en partie solo
            </button>
            <button (click)="confirmUser()" [ngClass]="joinedUsername !== '' ? 'buttonChoice' : 'buttonChoiceDisabled'" [disabled]="joinedUsername === ''" >Accepter</button>
            <button (click)="kickUser()" [ngClass]="joinedUsername !== '' ? 'buttonChoice' : 'buttonChoiceDisabled'" [disabled]="joinedUsername === ''">Rejeter</button>
        </div>
    </div>
    <div *ngIf="isJoinedPlayer">
        <h1 *ngIf="userKicked">Le joueur {{hostUsername}} vous a rejeté de la partie ! De retour dans la liste des parties</h1>
        <h1 *ngIf="!userKicked">Bienvenue {{ joinedUsername }} vous etes bien en attente du demarrage de la partie par {{hostUsername}}</h1>
        <button class="buttonChoice" (click)="cancelWaitingJoinedUser()" routerLink="['/joindre-partie',this.mode]">Annuler</button>
    </div>
    <div class="loadingIcon" *ngIf="(!joinedUsername && isHost) || isJoinedPlayer">
        <i class="fa fa-spinner fa-pulse fa-5x"></i>
    </div>
</div>
